<!DOCTYPE html>
    <html>
        <head>
             <h1 style="text-align: center;color: black;  margin:0; background-color: #3f4346;padding:30px;">{% block title %} TO DO LIST {% endblock %}</h1>
        </head>
        <body >
        
                {% block content %} {% endblock%}
       
            <footer style="
        position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:blue;
    color: white;
    text-align: center;
    padding: 8px 15px;
    border-radius: 5px;
    ">
        © 2025 To Do List
    </footer>
        </body>
    </html>